:root {
  --bg-color: #FAF7EF;
  --fg-color: #323639;
  --red: #e61935;
  --font-size: 18px;
}

body {
  margin: 0;
  font-family: "Oxygen", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;;
  font-size: var(--font-size);
  line-height: 50px;
  text-decoration: none;
  background-color: var(--bg-color);
  color: var(--fg-color);
}

h1, .h1 {
  font-size: 3.5em;
  line-height: 1.5em;
}

h2, .h2 {
  font-size: 3em;
  line-height: 1.5em;
}

h3, .h3 {
  font-size: 2.5em;
  /* line-height: 1.5em; */
}

h4, .h4 {
  font-size: 2em;
  line-height: 1.5em;
}

h5, .h5 {
  font-size: 1.5em;
  line-height: 1.5em;
}

h6, .h6 {
  font-size: 1em;
  line-height: 1.5em;
}

strong {
  font-weight: 900;
}

em {
  font-weight: 600;
}

mark {
  background-color: #FDEB35;
  font-weight: 600;
}

s {
  font-style: oblique;
}

a {
  text-decoration: hidden;
}

a:link {
  color: #056fb0;
  font-weight: 700;
  text-decoration: none;
  transition: 0.25s all ease;
}

a:visited {
  color: #6307fb;
}

a:hover {
  color: #d73444;
  text-decoration: underline;
}

a:active {
  /* background-color: ; */
  transform: rotate(45deg);
  /* 0% { transform: skewX(9deg); }
  10% { transform: skewX(-8deg); }
  20% { transform: skewX(7deg); }
  30% { transform: skewX(-6deg); }
  40% { transform: skewX(5deg); }
  50% { transform: skewX(-4deg); }
  60% { transform: skewX(3deg); }
  70% { transform: skewX(-2deg); }
  80% { transform: skewX(1deg); }
  90% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); } */
}
